*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('../images/eat-2834549_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  
}
.header{
    position: fixed;
    display: flex;
   padding: 1rem;
    justify-content: space-between;
    z-index: 2;
    color: #ffffff;
    background-color: #0a0a0a;
    width: 100%;
    font-size: 0.5rem;
    opacity: 0.85;
    border-bottom: 1px solid #66D3FA;
}
.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: #0a0a0a;
    opacity: 0.85;
    margin: 0 auto;
    color: #ffffff;
    line-height: 3rem;
   
}

.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* overflow-y: auto; */
   
}
.card{
    display: flex;
    flex-direction: column;
    text-align: left;   
    opacity: 0.9;
    height: 100%;
    width: 100%;    
}
/* speach */

.blink_me {
    color: yellow !important;
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    90% {
      opacity: 0;
    }
  }

  .no_blink {
    color: green !important;
    animation: none;
  }
  
  @keyframes blinker {
    90% {
      opacity: 0;
    }
  }
  /* speach */
.random-quote{
    font-size: 2rem;
    line-height: 1.5rem;
    padding: 1rem;
    border: 1.2px solid #66D3FA;
    width: 90%;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: hsla(200% 50% 57 0.7) 0.1rem 0.1rem 0.1rem 0.1rem;
    background-color: #c3c3c3;
    font-size: 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
   color: #0a0a0a;
}
.avatar{
    height: 7rem;
    width: 7rem;
    margin: 0 auto;
}
.avatar-image{
    height: 100px;
    width: 90px;
    border-radius: 50%;
    border: 1.5px solid #66D3FA;
    cursor: pointer;
    margin-top: 0.5rem;
    opacity: 0.95;
}
.avatar-image:hover{
    opacity: 1;

}
.quote-info {
display: flex;
background-color: #0a0a0a;
justify-content: space-evenly;
}
#author:hover{
    text-decoration: underline;
}
#rand-index{
    color: #ffffff;
}
.total-quotes{    
    font-size: 1.5rem;   
    color: yellow;
}
small{
    display: block;
    font-size: 1.2rem;
    background-color: #0a0a0a;   
    padding: 0.1rem;
    color: #ffffff;
    border-radius: 5px;
}
.share{
    display: flex;  
    width: 100%;
    justify-content: space-between;    
    padding: 0.1rem;
    opacity: 0.82;

}
#close-share{
    background-color: red;
    color: #fff;
}
#yellow,#yellow-1, #first-name{
    color: yellow;
}
#first-name, #second-name{
    font-size: 1rem;
}
.control{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between; 
    z-index: 2;
    bottom: 0;
}

button{   
    background-color: green;
    opacity: 0.95;
    padding: 0.3rem;
    outline: none;
    border: 1px solid #66D3FA;
    border-radius: 0.5rem;
    color: #ffffff;
    margin: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    opacity: 0.82;

}
button:hover, .share:hover{   
opacity: 0.95;
}
.share-button{
    justify-content: space-evenly;
    text-align: center;
    margin: 1rem;
}
#share{
    padding: 0.9rem;
}
.none{
    display: none;
}
.flex{
    display: flex;
}
.share-button li{
    list-style: none;
    background-color: #0a0a0a;
    width: 3rem;
    border-radius: 5px;
    cursor: pointer;
}
i{
    color: #66D3FA;
    font-size: 2rem;
    text-align: center;
    margin: 0.1rem;
}

.disappear{
   display: none; 
   height: 0;
   z-index: -10;
 
}

@media only screen and (min-width:960px){
 
    .avatar{              
        margin-bottom: 2rem;
    }
    .avatar-image{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        border: 1.5px solid #66D3FA;
        cursor: pointer;
        margin-top: 0.4rem;
              
    }
    .random-quote{
        height: 83vh;
        font-size: 1.5rem;
        line-height: 3rem;      
    }
    .random-quote p{
        margin-bottom: 0.5rem;
    }
    .control{
        display: flex;
        position: fixed;
        width: 100%;
        justify-content: space-evenly; 
        z-index: 2;
        bottom: 0;
    }
    .control button{
       padding: 0.5rem;
       font-size: 1.2rem;
    }
   .home-landing div{ 
        font-size: 5rem;
        line-height: 7rem;
    }
    .header{
        font-size: 1rem;
        padding: 0.2rem;
    }

}



/* yhgukjl */

.snowContainer {
    width: 100%;
    height: 300px;
    background-color: black;
    overflow: hidden;
    position: relative;
}

.snowExample {
    position: absolute;
    top: -450px;
    opacity: .5;
    text-align: center;

    animation: SnowExampleSlide ease-in infinite;

    -webkit-animation: SnowExampleSlide ease-in infinite;

    -moz-animation: SnowExampleSlide ease-in infinite;

    -webkit-animation-fill-mode: forwards;

    -moz-animation-fill-mode: forwards;

    animation-fill-mode: forwards;
}

@keyframes SnowExampleSlide {
    from {
        position: absolute;
        top: -450px;
    }

    to {
        position: absolute;
        top: 633px;
    }
}

@-webkit-keyframes SnowExampleSlide {
    from {
        position: absolute;
        top: -450px;
    }

    to {
        position: absolute;
        top: 633px;
    }
}

@-moz-keyframes SnowExampleSlide {
    from {
        position: absolute;
        top: -450px;
    }

    to {
        position: absolute;
        top: 633px;
    }
}


<img alt="snowflakes" src="/Articles/CSS/Create-Falling-Objects-in-CSS/ClaytabaseSnow.png" class="snowExample"
style="width: 400px; -webkit-animation-delay: 0s;animation-delay: 0s;-webkit-animation-duration: 4s;animation-duration: 4s; left:50%; margin-left: -200px;" />

<img alt="snowflakes" src="/Articles/CSS/Create-Falling-Objects-in-CSS/ClaytabaseSnow.png" class="snowExample"
style="width: 400px; -webkit-animation-delay: 1s;animation-delay: 1s;-webkit-animation-duration: 4s;animation-duration: 4s; left:50%; margin-left: -200px;" />

<img alt="snowflakes" src="/Articles/CSS/Create-Falling-Objects-in-CSS/ClaytabaseSnow.png" class="snowExample"
style="width: 400px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 4s;animation-duration: 4s; left:50%; margin-left: -200px;" />

<img alt="snowflakes" src="/Articles/CSS/Create-Falling-Objects-in-CSS/ClaytabaseSnow.png" class="snowExample"
style="width: 400px; -webkit-animation-delay: 3s;animation-delay: 3s; -webkit-animation-duration: 4s;animation-duration: 4s; left:50%; margin-left: -200px;" />

<img alt="snowflakes" src="/Articles/CSS/Create-Falling-Objects-in-CSS/ClaytabaseSnow.png" class="snowExample"
style="width: 500px; -webkit-animation-delay: 0s;animation-delay: 0s; -webkit-animation-duration: 5s;animation-duration: 5s; left:50%; margin-left: -250px;" />

<img alt="snowflakes" src="/Articles/CSS/Create-Falling-Objects-in-CSS/ClaytabaseSnow.png" class="snowExample"
style="width: 500px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 5s;animation-duration: 5s; left:50%; margin-left: -250px;" />